In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv('./train-chennai-sale.csv')

In [5]:
df.head()

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,...,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,04-05-2011,131,1.0,1.0,3,AbNormal,Yes,...,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19-12-2006,26,2.0,1.0,5,AbNormal,No,...,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,04-02-2012,70,1.0,1.0,3,AbNormal,Yes,...,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13-03-2010,14,3.0,2.0,5,Family,No,...,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,05-10-2009,84,1.0,1.0,3,AbNormal,Yes,...,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PRT_ID         7109 non-null   object
 1   AREA           7109 non-null   object
 2   INT_SQFT       7109 non-null   int64
 3   DATE_SALE      7109 non-null   object
 4   DIST_MAINROAD  7109 non-null   int64
 5   N_BEDROOM      7108 non-null   float64
 6   N_BATHROOM     7104 non-null   float64
 7   N_ROOM         7109 non-null   int64
 8   SALE_COND      7109 non-null   object
 9   PARK_FACIL     7109 non-null   object
 10  DATE_BUILD     7109 non-null   object
 11  BUILDTYPE      7109 non-null   object
 12  UTILITY_AVAIL  7109 non-null   object
 13  STREET         7109 non-null   object
 14  MZZONE         7109 non-null   object
 15  QS_ROOMS       7109 non-null   float64
 16  QS_BATHROOM    7109 non-null   float64
 17  QS_BEDROOM     7109 non-null   float64
 18  QS_OVERALL     7061 non-null   float64
 19  REG_FEE        7109 non-null   int64
 20  COMMIS         7109 non-null   int64
 21  SALES_PRICE    7109 non-null   int64
dtypes: float64(6), int64(6), object(10)
memory usage: 1.2+ MB

In [7]:
df['AREA'].unique()

array(['Karapakkam', 'Anna Nagar', 'Adyar', 'Velachery', 'Chrompet',
       'KK Nagar', 'TNagar', 'T Nagar', 'Chrompt', 'Chrmpet', 'Karapakam',
       'Ana Nagar', 'Chormpet', 'Adyr', 'Velchery', 'Ann Nagar',
       'KKNagar'], dtype=object)

In [8]:
df["AREA"] = df["AREA"].str.replace("Chrompt", "Chrompet")
df["AREA"] = df["AREA"].str.replace("Chrmpet", "Chrompet")
df["AREA"] = df["AREA"].str.replace("Chormpet", "Chrompet")

df["AREA"] = df["AREA"].str.replace("Ana Nagar", "Anna Nagar")
df["AREA"] = df["AREA"].str.replace("Ann Nagar", "Anna Nagar")

df["AREA"] = df["AREA"].str.replace("Karapakam", "Karapakkam")

df["AREA"] = df["AREA"].str.replace("TNagar", "T Nagar")

df["AREA"] = df["AREA"].str.replace("Adyr", "Adyar")

df["AREA"] = df["AREA"].str.replace("Velchery", "Velachery")

df["AREA"] = df["AREA"].str.replace("KKNagar", "KK Nagar")

In [9]:
df['AREA'].unique()

array(['Karapakkam', 'Anna Nagar', 'Adyar', 'Velachery', 'Chrompet',
       'KK Nagar', 'T Nagar'], dtype=object)

# Handling Missing Data's

In [10]:
print("The missing data percentage for each particular coloumns:")
(df.isnull().sum()/df.shape[0]*100).sort_values()

The missing data percentage for each particular coloumns:

PRT_ID           0.000000
REG_FEE          0.000000
QS_BEDROOM       0.000000
QS_BATHROOM      0.000000
QS_ROOMS         0.000000
MZZONE           0.000000
STREET           0.000000
UTILITY_AVAIL    0.000000
BUILDTYPE        0.000000
COMMIS           0.000000
DATE_BUILD       0.000000
SALE_COND        0.000000
N_ROOM           0.000000
DIST_MAINROAD    0.000000
DATE_SALE        0.000000
INT_SQFT         0.000000
AREA             0.000000
PARK_FACIL       0.000000
SALES_PRICE      0.000000
N_BEDROOM        0.014067
N_BATHROOM       0.070333
QS_OVERALL       0.675200
dtype: float64

In [11]:
df.isnull().sum().sort_values()

PRT_ID            0
REG_FEE           0
QS_BEDROOM        0
QS_BATHROOM       0
QS_ROOMS          0
MZZONE            0
STREET            0
UTILITY_AVAIL     0
BUILDTYPE         0
COMMIS            0
DATE_BUILD        0
SALE_COND         0
N_ROOM            0
DIST_MAINROAD     0
DATE_SALE         0
INT_SQFT          0
AREA              0
PARK_FACIL        0
SALES_PRICE       0
N_BEDROOM         1
N_BATHROOM        5
QS_OVERALL       48
dtype: int64

In [12]:
fillmean = df[['QS_ROOMS','QS_BATHROOM','QS_BEDROOM']].mean(axis=1)
df['QS_OVERALL'].fillna(fillmean, inplace = True)
df.isnull().sum().sort_values()

PRT_ID           0
REG_FEE          0
QS_OVERALL       0
QS_BEDROOM       0
QS_BATHROOM      0
QS_ROOMS         0
MZZONE           0
STREET           0
UTILITY_AVAIL    0
BUILDTYPE        0
DATE_BUILD       0
PARK_FACIL       0
SALE_COND        0
N_ROOM           0
DIST_MAINROAD    0
DATE_SALE        0
INT_SQFT         0
AREA             0
COMMIS           0
SALES_PRICE      0
N_BEDROOM        1
N_BATHROOM       5
dtype: int64

In [13]:
for i, rows in df['N_BEDROOM'].iteritems():
  if np.isnan(rows):
    print("Number of bedroom has missing value in: ",i,"row")

for i, rows in df['N_BATHROOM'].iteritems():
  if np.isnan(rows):
    print("Number of bathroom has missing value in: ",i,"row")

Number of bedroom has missing value in:  4060 row
Number of bathroom has missing value in:  70 row
Number of bathroom has missing value in:  5087 row
Number of bathroom has missing value in:  6134 row
Number of bathroom has missing value in:  6371 row
Number of bathroom has missing value in:  6535 row

In [14]:
df.head()

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,...,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,04-05-2011,131,1.0,1.0,3,AbNormal,Yes,...,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19-12-2006,26,2.0,1.0,5,AbNormal,No,...,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,04-02-2012,70,1.0,1.0,3,AbNormal,Yes,...,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13-03-2010,14,3.0,2.0,5,Family,No,...,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,05-10-2009,84,1.0,1.0,3,AbNormal,Yes,...,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250

In [15]:
df['N_BEDROOM'] = df.apply(lambda row: 2 if pd.isnull(row['N_BEDROOM']) and row['INT_SQFT'] > 1200 else row['N_BEDROOM'], axis=1)

In [16]:
df.isnull().sum().sort_values()

PRT_ID           0
REG_FEE          0
QS_OVERALL       0
QS_BEDROOM       0
QS_BATHROOM      0
QS_ROOMS         0
MZZONE           0
STREET           0
UTILITY_AVAIL    0
BUILDTYPE        0
DATE_BUILD       0
PARK_FACIL       0
SALE_COND        0
N_ROOM           0
N_BEDROOM        0
DIST_MAINROAD    0
DATE_SALE        0
INT_SQFT         0
AREA             0
COMMIS           0
SALES_PRICE      0
N_BATHROOM       5
dtype: int64

In [17]:
df['N_BATHROOM'] = df.apply(lambda row: 2 if pd.isnull(row['N_BATHROOM']) and row['N_BEDROOM'] > 1 else 1, axis=1)
df.isnull().sum().sort_values()

PRT_ID           0
REG_FEE          0
QS_OVERALL       0
QS_BEDROOM       0
QS_BATHROOM      0
QS_ROOMS         0
MZZONE           0
STREET           0
UTILITY_AVAIL    0
BUILDTYPE        0
DATE_BUILD       0
PARK_FACIL       0
SALE_COND        0
N_ROOM           0
N_BATHROOM       0
N_BEDROOM        0
DIST_MAINROAD    0
DATE_SALE        0
INT_SQFT         0
AREA             0
COMMIS           0
SALES_PRICE      0
dtype: int64

In [18]:
from sklearn.ensemble import RandomForestRegressor
X = df.drop("SALES_PRICE", axis=1)
y = df["SALES_PRICE"]

In [19]:
from sklearn.preprocessing import LabelEncoder
categorical_cols = X.select_dtypes(include=['object']).columns
for col in categorical_cols:
    encoder = LabelEncoder()
    X[col] = encoder.fit_transform(X[col])

In [20]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X, y)

RandomForestRegressor(random_state=42)

In [21]:
importances = rf_model.feature_importances_

In [22]:
feature_importances = pd.DataFrame({"Feature": X.columns, "Importance": importances})
feature_importances = feature_importances.sort_values(by="Importance", ascending=False).reset_index(drop=True)

In [23]:
print(feature_importances.head(10))

         Feature  Importance
0        REG_FEE    0.764859
1           AREA    0.075741
2       INT_SQFT    0.056037
3      BUILDTYPE    0.037379
4         MZZONE    0.017586
5      N_BEDROOM    0.015374
6         COMMIS    0.007272
7         PRT_ID    0.004222
8     PARK_FACIL    0.003108
9  DIST_MAINROAD    0.002239

In [24]:
price_range = df.groupby("AREA")["SALES_PRICE"].agg(["min", "max"])
price_range["price_range"] = price_range.apply(lambda x: f"{int(x['min']):,} - {int(x['max']):,}", axis=1)
price_range.drop(["min", "max"], axis=1, inplace=True)

In [25]:
print(price_range.shape)

(7, 1)

In [27]:
# Group the data by location and calculate the predicted price range
location_groups = df.groupby("AREA")
predicted_prices = location_groups.apply(lambda x: rf_model.predict(x.drop("SALES_PRICE", axis=1).apply(LabelEncoder().fit_transform)))
min_prices = predicted_prices.apply(lambda x: x.min())
max_prices = predicted_prices.apply(lambda x: x.max())

# Combine the location, minimum price and maximum price into a single dataframe
price_range = pd.concat([min_prices, max_prices], axis=1)
price_range.columns = ['Min Price', 'Max Price']
price_range.index.name = 'Location'

# Format the price range to display as whole numbers
pd.options.display.float_format = '{:.0f}'.format

# Print the top 10 locations by predicted price range
print(price_range.sort_values(by=['Max Price'], ascending=False).head(10))

            Min Price  Max Price
Location
Velachery     4109536    5738626
Karapakkam    4060775    5730320
Adyar         4078005    5720334
Chrompet      3992862    4384848
Anna Nagar    4028920    4352203
T Nagar       4072125    4348480
KK Nagar      4047954    4346332